<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,912},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{48,48}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,965},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{48,48}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>pri_btn_clear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,692},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_clear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,683},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{496,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{496,402}}</string>
                <key>sourceSize</key>
                <string>{516,422}</string>
            </dict>
            <key>pri_btn_createroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,376},{496,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{496,402}}</string>
                <key>sourceSize</key>
                <string>{516,422}</string>
            </dict>
            <key>pri_btn_del_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,577},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_del_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,568},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,838},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,772},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_jiesan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,706},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_jiesan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,640},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joingame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,574},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joingame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,508},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1656},{496,384}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{496,384}}</string>
                <key>sourceSize</key>
                <string>{516,422}</string>
            </dict>
            <key>pri_btn_joinroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1158},{496,384}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{496,384}}</string>
                <key>sourceSize</key>
                <string>{516,422}</string>
            </dict>
            <key>pri_btn_num_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,462},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,453},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,462},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,694},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,462},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,694},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1390},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1012},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1158},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,462},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,780},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,780},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1012},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,780},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,780},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1028},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1030},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1912},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1912},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_num_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{230,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,113}}</string>
                <key>sourceSize</key>
                <string>{230,113}</string>
            </dict>
            <key>pri_btn_roomlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{309,365}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{309,365}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_sharegrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,442},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_sharegrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,376},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_switchrecord_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1158},{428,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{428,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_btn_switchrecord_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,32},{428,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{428,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_sp_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,912},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>pri_sp_createcost.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1050},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_createtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,912},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>pri_sp_createuser.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1050},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_dissolvetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1050},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>pri_sp_friend_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,780},{146,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,246}}</string>
                <key>sourceSize</key>
                <string>{148,246}</string>
            </dict>
            <key>pri_sp_friend_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,780},{158,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,268}}</string>
                <key>sourceSize</key>
                <string>{158,268}</string>
            </dict>
            <key>pri_sp_ideditbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{752,689}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,689}}</string>
                <key>sourceSize</key>
                <string>{752,689}</string>
            </dict>
            <key>pri_sp_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1190,372}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{1190,372}}</string>
                <key>sourceSize</key>
                <string>{1192,374}</string>
            </dict>
            <key>pri_sp_listline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,2},{1154,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1154,2}}</string>
                <key>sourceSize</key>
                <string>{1156,2}</string>
            </dict>
            <key>pri_sp_roomid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,2},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>pri_sp_roominfotitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,838},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
            <key>pri_sp_roomlimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1050},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>pri_sp_roomstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1050},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_systemtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,875},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>pri_sp_tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{757,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,449}}</string>
                <key>sourceSize</key>
                <string>{757,449}</string>
            </dict>
            <key>pri_sp_uinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1050},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b400936e6040ccfb8f434af66e05b492$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
